

:root {
  --background-body: rgba(41, 41, 41, 0.9);
  --background-content: #1d1d1d;
  --text-color: #e5e5e5;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

/* Global */
svg {
  width: 1.5rem;
}
button.icon {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.5rem 0 0.5rem;
  /*display: flex;*/
  align-items: center;
  height: 100%;
}

.login-container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 0.5rem 0 0.5rem;
  /*display: flex;*/
  align-items: center;
  height: 100%;
}

/* header */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: var(--background-content);
  box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
  z-index: 10;
}
header .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  cursor: default;
}
header .logo span {
  margin-left: 0.5rem;
}

/* Post */
.article {
  margin: 4rem 0;
  width: 100%;
}
.post-wrapper {
  width: 100%;
  color: var(--text-color);
}

.post-wrapper img {
  height: auto;
  width: 80%;
}

/* Code */
.code {
  margin: 0.5rem;
  position: relative;
}
.code .copy-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}


.dtbox {
  margin: 1em 0;
}
.dtwrap {
  margin-bottom: 1em;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);

}
.dt {
  width: 100%;
  margin: 0;
  background-color: #fff;
}
.dt th {
  background-color: #676769;
  padding: 16px;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
}
.dt thead th {
  vertical-align: bottom;
  text-align: left;
}
.dt tbody th {
  vertical-align: text-top;
  text-align: right;
}
.dt tr th:hover {
  background: #737375;
}

.dt tr {
  background-color: #fff;
}
.dt td {
  background-color: #ffffff;
  padding: 12px 14px;
  color: #676769;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  vertical-align: middle;
  line-height: 1.2;
}
.dt tr:nth-child(even) td {
  background-color: #f7f7f7;
}
.dt tr.current td {
  font-weight: 600;
}
.dt tr.sh th, .dt tr.sh td {
  /* background-color: #b3b3b5;
  color: #fff; */
  background-color: #d9d9db;
  color: #414143;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
.dt tr th i.fa, .dt tr.current th i.fa {
  font-size: 0.9em;
  font-weight: normal;
}
.dt tr td a i.fa, .dt tr.current td a i.fa, .dt tr td button i.fa, .dt tr.current td button i.fa {
  font-size: 1.2em;
  font-weight: normal;
}
.control-actions {
  padding: 0.5em 0;
}
.paginate_button.current {
  color: #777;
}
.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}
.arrow-down {
  float: right;
  display: none;
  padding: 0 4px;
}
.arrow-up {
  float: right;
  display: none;
  padding: 0 4px;
}
.sorting_asc .arrow-up {
  display: inline;
}
.sorting_desc .arrow-down {
  display: inline;
}
.dt th:active {
  outline: 0;
}

.ltbox {
  margin: 1em 0;
}
.ltwrap {
  margin-bottom: 1em;
  overflow: hidden;
}
.lt {
  width: 100%;
  margin: 0;
  background-color: #fff;
}
.lt th {
  background-color: #ffffff;
  border-bottom: 1px solid #efefee;
  padding: 7px 10px 7px 0;
  color: #676769;
  color: #a0a0a1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
}
.lt thead th {
  vertical-align: bottom;
  text-align: left;
}
.lt tbody th {
  vertical-align: text-top;
  text-align: right;
}
.lt tr {
  background-color: #fff;
}
.lt td {
  background-color: #ffffff;
  padding: 5px 10px 5px 0;
  color: #676769;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  vertical-align: top;
  line-height: 1.1;
}
.lt tr:hover td {
  background: #fdf9e7; /* YELLOW COLOR CONSIDER THIS */
  background: #f3f3f3;
}
.lt tr.link:hover td {
  background: #ffffff;
}
.lt tr td a i.fa, .lt tr.current td a i.fa {
  font-size: 0.8em;
  font-weight: normal;
}

.lt tr td.success, .lt tr td.online {
  color: #86d165;
}
.lt tr td.warning {
  color: #f0b419;
}
.lt tr td.error {
  color: #ff7451;
}
.lt tr td.info {
  color: #759cab;
}
